/* Define your styles here */


html {
    --lumo-primary-color: rgb(134, 122, 235);
    --lumo-primary-color-50pct: rgba(134, 122, 235, 0.5);
    --lumo-primary-color-10pct: rgba(134, 122, 235, 0.1);
    --lumo-primary-text-color: var(--lumo-primary-color);

}

.event-red {
    border: 1px solid #DF6679 !important;
    background-color: #FFC8D0
}
a.event-red .fc-event-main {
    color: #DF6679 !important;
}

.event-green {
    border: 1px solid #23BA75 !important;
    background-color: #BAF2D8
}
a.event-green .fc-event-main {
    color: #23BA75 !important;
}

.event-yellow {
    border: 1px solid #E3A023 !important;
    background-color: #FFE2AD
}
a.event-yellow .fc-event-main {
    color: #E3A023 !important;
}


.event-purple {
    border: 1px solid #6E64B9 !important;
    background-color: #D6D0FF
}
a.event-purple .fc-event-main {
    color: #6E64B9 !important;
}


.event-blue {
    border: 1px solid #249FAF !important;
    background-color: #BAF7FF
}

a.event-blue .fc-event-main {
    color: #249FAF !important;
}


.jmix-login-main-layout {
    background-image: url("/images/login-background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.login-image {
    padding-top: 300px;
}
